* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
}

.dato {
    font-size: 16px;
}

.bg-yellow {
    background-color: #EAC926;
}

.boton {
    background-color: #1259c3;
    ;
    padding: 2%;
    border-radius: 10%;
    color: white;
    margin: 5%;
}

.icon {
    font: 2em sans-serif;
}

.precio {
    font-size: 18px;
}

.titulares {
    font-size: 24px;
}

.texto {
    font-size: 12px;
}

.center {
    text-align: center;
}

.fz-18 {
    font-size: 18px;
}

.center-i {
    margin-left: 10%;
}