img {
    width: 100%;
}

main section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
 main img {
    width: 100%;
 }

 main article{
    background-color: white;
    margin-bottom: 10px;
 }
 main article div{
    border-top: 1px solid #ebebeb;
    padding: 15px;
 }
 main article i{
    align-self: flex-start;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 10px;

 }

 main article p{
    font-size: 16px;
 }
.price {
    font-size: 18px;
}
.description {
    color: #666;
}





