<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar para poner barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="/src/views/ofertas.html">Ofertas</a></li>
                <li><a href="/src/views/tiendasOficiales.html">Tiendas Oficiales</a></li>
                <li><a href="/src/views/vender.html">Vender</a></li>
                <li><a href="/src/views/ayuda.html">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/src/views/register.html">Crear tu Cuenta</a></li>
                <li><a href="/src/views/login.html">Ingresa</a></li>
                <li><a href="/src/views/compras.html">Mis Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <img src="/images/img-home-banner.jpg" alt="Home Banner"></div>
        <section>
            <header>
                <h2>Basado en tu última visita</h2>
            </header>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p  >
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <header>
                <h2>Sección de Ofertas</h2>
            </header>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p  >
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTv Samsung 43">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>