<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/normalice.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <header class="contariner-header">
        <div class="conteiner-top-header">
            <div class="logo-header lg-w-33">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            <div class="search-header lg-w-33">
                <form action="/" class="form-search-header">
                    <input type="text" name="search" placeholder="Buscá productos por nombre, marcas o palabras clave" />
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <p class="coutas-top-header lg-w-33">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="nav-header">
            <ul class="nav-ul">
                <li><a class="nav-link" href="#">Ofertas</a></li>
                <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-ul auth">
                <li><a class="nav-link" href="/register"><i class="fa-regular fa-id-card"></i> <span >Crear tu Cuenta</span></a></li>
                <li><a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> <span >Ingresar</span></a></li>
                <li><a class="nav-link" href="#"><i class="fa-solid fa-basket-shopping"></i> <span >Mis Compras</span></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section class="section-main">
            <form action="/login" method="POST" class="login-form">
                <div><input class="input-login-form" type="text" name="user" id="user" placeholder="Nombre de Usuario" /></div>
                <div><input class="input-login-form" type="password" name="password" id="password" placeholder="Contraseña" /></div>
                <div><button class="buttom-login-form" type="submit"> Entrar </button></div>
            </form>
        </section>
    </main>
    <footer>
        <section class="section-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="section-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>


</html>